.summary{
    display: flex;
    flex-direction: column;
    background-color: #abd6ff;
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    margin-top: calc(50vh - 200px)
}